<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous">
<style>
    .profile-card {
max-width: 400px;
margin: 100px auto;
padding: 30px;
background-color: #ffffff;
border-radius: 12px;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
text-align: center;
</style>
<head class="profile-card">
    <title>Login</title>
</head>
<body class="profile-card">
<h2>Login Page</h2>
          <a th:href="@{/oauth2/authorization/google}">Login with Google</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</body>
</html>
